In [19]:
import numpy as np
import pandas as pd
import seaborn as sns
import pygal
import time
from collections import Counter
from matplotlib import pyplot as plt
from IPython.display import SVG, HTML, display

In [5]:
df = pd.read_csv('../data/train.csv')

In [6]:
df.head()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,00RL8Z82B2Z1,aff3928535f48,1541037460,1,search for poi,Newtown,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
1,00RL8Z82B2Z1,aff3928535f48,1541037522,2,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
2,00RL8Z82B2Z1,aff3928535f48,1541037522,3,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
3,00RL8Z82B2Z1,aff3928535f48,1541037532,4,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
4,00RL8Z82B2Z1,aff3928535f48,1541037532,5,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN

In [5]:
# only 1/15 of the interactions have filters applied
df.count()

user_id            15932992
session_id         15932992
timestamp          15932992
step               15932992
action_type        15932992
reference          15932992
platform           15932992
city               15932992
device             15932992
current_filters     1153112
impressions         1586586
prices              1586586
dtype: int64

In [22]:
# split_timestamp = pd.Timestamp(year=2018, month=11, day=5, hour=16, minute=52, second=28)
split_timestamp = pd.Timestamp(year=2018, month=11, day=6)
split_time =time.mktime(split_timestamp.timetuple()) # Unix epoch time

print(split_timestamp)
print(split_time)

2018-11-06 00:00:00
1541455200.0

In [25]:
df_train = df[df['timestamp'] < split_time]
df_validation = df[df['timestamp'] >= split_time]

In [26]:
print('train set size: {} ({})'.format(len(df_train), len(df_train) / len(df)))
print('validation set size: {} ({})'.format(len(df_validation), len(df_validation) / len(df)))

train set size: 12838797 (0.8057995008093898)
validation set size: 3094195 (0.19420049919061028)

In [29]:
df_train.to_csv('../data/train_split.csv')

In [30]:
df_validation.to_csv('../data/validation_split.csv')

In [27]:
# for each session, if the last action type is "clickout item", delete the reference and save it for the labels
df_validation.set_index(keys=['session_id', 'step'])

                         user_id   timestamp              action_type  \
session_id    step
ad89aba9bb002 1     0BO8K084XKYE  1541457675          search for item
              2     0BO8K084XKYE  1541458697   interaction item image
              3     0BO8K084XKYE  1541458697   interaction item image
              4     0BO8K084XKYE  1541458705            clickout item
              5     0BO8K084XKYE  1541458805            clickout item
74986cb514e04 1     0CI40GAHP96Q  1541456132   search for destination
              2     0CI40GAHP96Q  1541456168            clickout item
              3     0CI40GAHP96Q  1541456747   search for destination
              4     0CI40GAHP96Q  1541456767   search for destination
              5     0CI40GAHP96Q  1541456787     change of sort order
              6     0CI40GAHP96Q  1541456826   search for destination
              7     0CI40GAHP96Q  1541456884            clickout item
0570c0ad1a064 1     0OQU0SD8LPT3  1541455534   interaction item image
              2     0OQU0SD8LPT3  1541455534   interaction item image
              3     0OQU0SD8LPT3  1541455534   interaction item image
              4     0OQU0SD8LPT3  1541455534   interaction item image
              5     0OQU0SD8LPT3  1541455534   interaction item image
              6     0OQU0SD8LPT3  1541455534   interaction item image
              7     0OQU0SD8LPT3  1541455534   interaction item image
              8     0OQU0SD8LPT3  1541455544   interaction item image
              9     0OQU0SD8LPT3  1541455544   interaction item image
              10    0OQU0SD8LPT3  1541455544   interaction item image
              11    0OQU0SD8LPT3  1541455544   interaction item image
              12    0OQU0SD8LPT3  1541455544   interaction item image
              13    0OQU0SD8LPT3  1541455544   interaction item image
              14    0OQU0SD8LPT3  1541455544   interaction item image
              15    0OQU0SD8LPT3  1541455544   interaction item image
              16    0OQU0SD8LPT3  1541455544   interaction item image
              17    0OQU0SD8LPT3  1541455544   interaction item image
              18    0OQU0SD8LPT3  1541455544   interaction item image
...                          ...         ...                      ...
6b66cb0cfb518 7     ZU702MR210D2  1541498303   interaction item image
              8     ZU702MR210D2  1541498303   interaction item image
              9     ZU702MR210D2  1541498303  interaction item rating
              10    ZU702MR210D2  1541498306            clickout item
f701be9e58e9a 1     ZV6EJXAD9929  1541532352            clickout item
e7916050980d9 1     ZVIDWWE0KWNB  1541531675   search for destination
              2     ZVIDWWE0KWNB  1541531872          search for item
              3     ZVIDWWE0KWNB  1541531973   interaction item deals
              4     ZVIDWWE0KWNB  1541532069            clickout item
061152606ba18 1     ZYDH48FW5Q3Q  1541545825   search for destination
              2     ZYDH48FW5Q3Q  1541545935          search for item
62728015bec05 1     ZYNMLE3MV3LK  1541544402   search for destination
              2     ZYNMLE3MV3LK  1541544470   interaction item image
              3     ZYNMLE3MV3LK  1541544470   interaction item image
              4     ZYNMLE3MV3LK  1541544480   interaction item image
              5     ZYNMLE3MV3LK  1541544480   interaction item image
              6     ZYNMLE3MV3LK  1541544480   interaction item image
              7     ZYNMLE3MV3LK  1541544480   interaction item image
              8     ZYNMLE3MV3LK  1541544480   interaction item image
              9     ZYNMLE3MV3LK  1541544480   interaction item image
              10    ZYNMLE3MV3LK  1541544480   interaction item image
              11    ZYNMLE3MV3LK  1541544480   interaction item image
              12    ZYNMLE3MV3LK  1541544480   interaction item image
              13    ZYNMLE3MV3LK  1541544480   interaction item image
              14    ZYNMLE3MV3LK  1541544480   interaction item image
              15    ZYNMLE3MV3LK  1541544490   interaction item image
              16    ZYNMLE3MV3LK  1541544491            clickout item
              17    ZYNMLE3MV3LK  1541544540            clickout item
              18    ZYNMLE3MV3LK  1541544967     change of sort order
              19    ZYNMLE3MV3LK  1541544973            clickout item

                                  reference platform                    city  \
session_id    step
ad89aba9bb002 1                     1111123       US            Ledyard, USA
              2                     9979396       US            Ledyard, USA
              3                     9979396       US            Ledyard, USA
              4                     9979396       US            Ledyard, USA
              5                     9979396       US            Ledyard, USA
74986cb514e04 1          Rio Quente, Brazil       BR      Rio Quente, Brazil
              2                     8332666       BR      Rio Quente, Brazil
              3        Porto Seguro, Brazil       BR    Porto Seguro, Brazil
              4          Rio Quente, Brazil       BR      Rio Quente, Brazil
              5     interaction sort button       BR      Rio Quente, Brazil
              6          Rio Quente, Brazil       BR      Rio Quente, Brazil
              7                    10202814       BR      Rio Quente, Brazil
0570c0ad1a064 1                       28940       IT  Leukerbad, Switzerland
              2                       28940       IT  Leukerbad, Switzerland
              3                       28940       IT  Leukerbad, Switzerland
              4                       28940       IT  Leukerbad, Switzerland
              5                       28940       IT  Leukerbad, Switzerland
              6                       28940       IT  Leukerbad, Switzerland
              7                       28940       IT  Leukerbad, Switzerland
              8                       28940       IT  Leukerbad, Switzerland
              9                       28940       IT  Leukerbad, Switzerland
              10                      28940       IT  Leukerbad, Switzerland
              11                      28940       IT  Leukerbad, Switzerland
              12                      28940       IT  Leukerbad, Switzerland
              13                      28940       IT  Leukerbad, Switzerland
              14                      28940       IT  Leukerbad, Switzerland
              15                      28940       IT  Leukerbad, Switzerland
              16                      28940       IT  Leukerbad, Switzerland
              17                      28940       IT  Leukerbad, Switzerland
              18                      28940       IT  Leukerbad, Switzerland
...                                     ...      ...                     ...
6b66cb0cfb518 7                     2337580       JP        Asahikawa, Japan
              8                     2337580       JP        Asahikawa, Japan
              9                     3811156       JP        Asahikawa, Japan
              10                    3811156       JP        Asahikawa, Japan
f701be9e58e9a 1                     9771628       FR           New York, USA
e7916050980d9 1               New York, USA       BR           New York, USA
              2                      149585       BR           New York, USA
              3                      149585       BR           New York, USA
              4                     8985292       BR           New York, USA
061152606ba18 1               Natal, Brazil       BR           Natal, Brazil
              2                     1241858       BR           Natal, Brazil
62728015bec05 1               Paris, France       PT           Paris, France
              2                     6617798       PT           Paris, France
              3                     6617798       PT           Paris, France
              4                     6617798       PT           Paris, France
              5                     6617798       PT           Paris, France
              6                     6617798       PT           Paris, France
              7                     6617798       PT           Paris, France
              8                     6617798       PT           Paris, France
              9                     6617798       PT           Paris, France
              10                    6617798       PT           Paris, France
              11                    6617798       PT           Paris, France
              12                    6617798       PT           Paris, France
              13                    6617798       PT           Paris, France
              14                    6617798       PT           Paris, France
              15                    6617798       PT           Paris, France
              16                    6617798       PT           Paris, France
              17                    2712342       PT           Paris, France
              18    interaction sort button       PT           Paris, France
              19                    1161323       PT           Paris, France

                     device    current_filters  \
session_id    step
ad89aba9bb002 1      tablet                NaN
              2      tablet                NaN
              3      tablet                NaN
              4      tablet                NaN
              5      tablet                NaN
74986cb514e04 1      mobile                NaN
              2      mobile                NaN
              3      mobile                NaN
              4      mobile                NaN
              5      mobile                NaN
              6      mobile                NaN
              7      mobile                NaN
0570c0ad1a064 1      mobile                NaN
              2      mobile                NaN
              3      mobile                NaN
              4      mobile                NaN
              5      mobile                NaN
              6      mobile                NaN
              7      mobile                NaN
              8      mobile                NaN
              9      mobile                NaN
              10     mobile                NaN
              11     mobile                NaN
              12     mobile                NaN
              13     mobile                NaN
              14     mobile                NaN
              15     mobile                NaN
              16     mobile                NaN
              17     mobile                NaN
              18     mobile                NaN
...                     ...                ...
6b66cb0cfb518 7      mobile                NaN
              8      mobile                NaN
              9      mobile                NaN
              10     mobile                NaN
f701be9e58e9a 1      mobile                NaN
e7916050980d9 1     desktop                NaN
              2     desktop                NaN
              3     desktop                NaN
              4     desktop                NaN
061152606ba18 1     desktop                NaN
              2     desktop                NaN
62728015bec05 1     desktop                NaN
              2     desktop                NaN
              3     desktop                NaN
              4     desktop                NaN
              5     desktop                NaN
              6     desktop                NaN
              7     desktop                NaN
              8     desktop                NaN
              9     desktop                NaN
              10    desktop                NaN
              11    desktop                NaN
              12    desktop                NaN
              13    desktop                NaN
              14    desktop                NaN
              15    desktop                NaN
              16    desktop  Focus on Distance
              17    desktop  Focus on Distance
              18    desktop                NaN
              19    desktop  Focus on Distance

                                                          impressions  \
session_id    step
ad89aba9bb002 1                                                   NaN
              2                                                   NaN
              3                                                   NaN
              4     76028|70388|1336053|317126|79506|9979396|71272...
              5     76028|70388|1336053|317126|79506|9979396|71272...
74986cb514e04 1                                                   NaN
              2     1668387|2260908|3926372|2343438|2571941|257499...
              3                                                   NaN
              4                                                   NaN
              5                                                   NaN
              6                                                   NaN
              7     1668387|2260908|3926372|2343438|2571941|257499...
0570c0ad1a064 1                                                   NaN
              2                                                   NaN
              3                                                   NaN
              4                                                   NaN
              5                                                   NaN
              6                                                   NaN
              7                                                   NaN
              8                                                   NaN
              9                                                   NaN
              10                                                  NaN
              11                                                  NaN
              12                                                  NaN
              13                                                  NaN
              14                                                  NaN
              15                                                  NaN
              16                                                  NaN
              17                                                  NaN
              18                                                  NaN
...                                                               ...
6b66cb0cfb518 7                                                   NaN
              8                                                   NaN
              9                                                   NaN
              10    3811156|2337580|8787688|9920906|1553743|462814...
f701be9e58e9a 1     9771628|5105492|8682|1372901|1321682|1364388|3...
e7916050980d9 1                                                   NaN
              2                                                   NaN
              3                                                   NaN
              4     8640|8816|8791|2298566|1811137|8708|67445|8825...
061152606ba18 1                                                   NaN
              2                                                   NaN
62728015bec05 1                                                   NaN
              2                                                   NaN
              3                                                   NaN
              4                                                   NaN
              5                                                   NaN
              6                                                   NaN
              7                                                   NaN
              8                                                   NaN
              9                                                   NaN
              10                                                  NaN
              11                                                  NaN
              12                                                  NaN
              13                                                  NaN
              14                                                  NaN
              15                                                  NaN
              16    6617798|1263420|9567886|1161323|149768|1890735...
              17    6617798|1263420|9567886|1161323|149768|1890735...
              18                                                  NaN
              19    6617798|1263420|9567886|1161323|149768|1890735...

                                                               prices
session_id    step
ad89aba9bb002 1                                                   NaN
              2                                                   NaN
              3                                                   NaN
              4     81|70|104|153|100|86|121|113|113|94|39|94|75|4...
              5     81|70|104|153|100|86|121|113|113|94|39|94|75|4...
74986cb514e04 1                                                   NaN
              2      49|30|31|60|354|280|33|50|307|56|64|273|52|27|40
              3                                                   NaN
              4                                                   NaN
              5                                                   NaN
              6                                                   NaN
              7      49|30|31|60|354|280|33|50|307|56|64|273|52|27|40
0570c0ad1a064 1                                                   NaN
              2                                                   NaN
              3                                                   NaN
              4                                                   NaN
              5                                                   NaN
              6                                                   NaN
              7                                                   NaN
              8                                                   NaN
              9                                                   NaN
              10                                                  NaN
              11                                                  NaN
              12                                                  NaN
              13                                                  NaN
              14                                                  NaN
              15                                                  NaN
              16                                                  NaN
              17                                                  NaN
              18                                                  NaN
...                                                               ...
6b66cb0cfb518 7                                                   NaN
              8                                                   NaN
              9                                                   NaN
              10    55|35|51|59|54|63|26|43|52|20|52|31|42|51|50|5...
f701be9e58e9a 1     281|183|281|266|238|263|324|345|466|179|186|24...
e7916050980d9 1                                                   NaN
              2                                                   NaN
              3                                                   NaN
              4     215|173|188|258|199|133|309|243|211|178|178|18...
061152606ba18 1                                                   NaN
              2                                                   NaN
62728015bec05 1                                                   NaN
              2                                                   NaN
              3                                                   NaN
              4                                                   NaN
              5                                                   NaN
              6                                                   NaN
              7                                                   NaN